/* .main{
  margin-bottom: 100vh;
}

.container{
  position: relative;
  height: 300vh;
  background-color: rgb(255, 255, 255);
}

.stickyMask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('https://raw.githubusercontent.com/olivierlarose/text-clip-mask-on-scroll/36bec870e57f41f93a5a3961f96bfed51887de8a/public/medias/mask.svg');
  mask-position: 52.35% center;
  mask-repeat: no-repeat;
  mask-size: 80%;
}

  */